@model DataAccesLib.Models.ServisDevice
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-around">
        <h2 class="text-align-center col-12 mt-3"> Servis pre @Model.Name (@Model.Model)</h2>
        <div class="col-md-4 d-flex justify-content-center ">
            <img class="DeviceDetailIMG mt-5 " src="/UploadedImgs/ServisDevices/@Model.ImagePath" alt="Brand Logo">
        </div>

        <div class="col-12 text-center align-middle mt-2 ">
            <hr />

            @foreach (var action in Model.ServisActions)
            {
                <div class="row justify-content-center mt-4">
                    <a class="col-md-8" data-toggle="collapse" aria-expanded="false" aria-controls="a@(action.Id)" href="#a@(action.Id)">
                        <div class="servisAction  btn btn-primary"> <span>@action.Name</span></div>
                    </a>
                </div>
                <div class="collapse" id="a@(action.Id)">
                    <div class="card card-body">
                        <table class="servisActionTable" width="100%">
                            <tr>
                                <td>Náročnosť </td>
                                <td>Trvanie opravy</td>
                                <td>Cena</td>
                            </tr>

                            <tr>
                                <td>@action.DifficultyLevel</td>
                                <td>@action.HoursTofix hod.</td>
                                <td>@action.Price € </td>
                            </tr>

                        </table>
                    </div>
                </div>

            }


        </div>

    <div class="row justify-content-center ">
        <div class="col-auto ">
            <div>
                <a class="btn btn-warning mt-5" asp-action="Index" asp-route-id="@Model.SeriesId">Späť na sériu</a>
            </div>
        </div>
    </div>
</div>


<script>
    function description(id) {
        var element = document.getElementById(id);
        if (element.style.display === "none") {
            document.getElementById(id).style.display = 'inline-block';
        } else {
            document.getElementById(id).style.display = 'none';
        }
        
    }
</script>



@*<h1>View</h1>

<div>
    <h4>ServisDevice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model.SeriesId">Back to List</a>
</div>*@
