@model DataAccesLib.Models.Series
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid product-filter">
    <div class=" container ">
        <div class="row justify-content-center">
            <h2 class="text-center">Product filter</h2>
        </div>
        <div class="form-group pb-3">
            <div class="row justify-content-center">
                <div class="col-md-4">

                    <label>Značka zariadenia:</label>
                    @Html.DropDownList("Brand", ViewBag.Brands as List<SelectListItem>, new
               {
                   @class = "form-control"

               })
                    @*<select class="form-control" id="device_brand_selection">
                        @foreach(var item in Model.DeviceBrands)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        
                    </select>*@

                </div>

                <div class=" col-md-4">
                    <label>Séria zariadenia</label>
                   @Html.DropDownList("Series", new SelectList(string.Empty, "Value", "Text"), new
              {
                  @class = "form-control"

              })
                    <!--<select class="form-control" id="Series">-->
                        @*@foreach (var item in Model.DeviceSeries)
                        {
                         <option value="@item.Id">@item.Name</option>
                        }*@
                        
                    <!--</select>-->

                </div>


            </div>
        </div>
    </div>
</div>

<div class="container align-items-center">
    <div class="row flex-row" id="ServisDevices">

    </div>

</div>


<script type="text/javascript">



    $(document).ready(function () {

        $("#Series").change(getDevices);
        $("#Brand").change(getSeries);


        $("#Brand").val("@ViewBag.BrandId");
        getSeries();

        $("#Series").val("@ViewBag.BrandSeries");
     function getSeries() {
         $("#Series").empty();
         $.ajax({
             type: 'POST',
             url: '@Url.Action("GetSeries")',
             dataType: 'json',
             data: { id: $("#Brand").val() },
             success: function(series) {

                 $.each(series,
                     function(i, series) {
                         $("#Series").append('<option value="' + series.value + '">' + series.text + '</option>');

                     });
                 $("#Series").val("@ViewBag.BrandSeries");
                 getDevices();
             },
             error: function(ex) {
                 alert('Failed.' + ex);
             }
         });
         return false;
     }

     function getDevices() {
         $("#ServisDevices").empty();
         $.ajax({
             type: 'POST',
             url: '@Url.Action("GetDevices")',
             dataType: 'json',
             data: { id: $("#Series").val() },
             success: function(device) {

                 $.each(device,
                     function(i, device) {
                         $("#ServisDevices").append('<div class="col-md-3 d-inline-block product-item">' +
                             '<a href="/Servis/Details/' +
                             device.id +
                             '">' +
                             '<div class="col-md-12 img-section d-flex ">' +
                             '<img id="product-image" src="/UploadedImgs/ServisDevices/' +
                             device.imagePath +
                             '" alt="Product image" >' +
                             '</div>' +
                             '<div class="col-md-12  image-title text-align-center">' +
                             '<h4>' +
                             device.name +
                             '</h4>' +
                             '</div>' +
                             '</a>' +
                             '</div>');

                     });
             },
             error: function(ex) {
                 alert('Failed.' + ex);
             }
         });
         return false;
     };
    });



</script>   


