@model IEnumerable<DataAccesLib.Models.DeviceBrand>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminCMSLayout.cshtml";
}




<div class="container">
    <hr class="mt-2" />
    <div class="row justify-content-center">
        <div class=" col-md-auto"><h2>Servisované značky</h2></div>
    </div>
    <hr />
    <a asp-action="Create" class="btn btn-success mt-2 ">Pridať značku</a>
    <div class="row justify-content-center">
        <table class="table mt-3">
            <thead>
            <tr>
                   
                <th class="">@Html.DisplayNameFor(model => model.Name)</th>
                <th class="">@Html.DisplayNameFor(model => model.SeriesList.Count)</th>
                <th class="">Akcia</th>
            </tr>
            </thead>
            <tbody>
            </tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="align-middle">
                        <div class="col-auto">
                            @Html.DisplayFor(modelItem => item.SeriesList.Count)
                            <a asp-controller="CMSSeries" asp-action="Index" class="btn btn-outline-primary m-2" asp-route-id="@item.Id">Zobraziť zariadenia</a>
                        </div>
                        
                    </td>
                    <td class="align-middle">
                        <a asp-action="Edit" class="btn btn-warning m-2" asp-route-id="@item.Id">Upraviť</a> |
                        <a asp-action="Details" class="btn btn-outline-primary m-2" asp-route-id="@item.Id">Zobraziť</a> |
                        <a asp-action="Delete" class="btn btn-danger  m-2" asp-route-id="@item.Id">Odstrániť</a>
                    </td>
                </tr>
            }




        </table>
    </div>
</div>