@model DataAccesLib.Models.ServisDevice
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminCMSLayout.cshtml";
}



<div class="container">

    <hr class="mt-2" />
    <div class="row justify-content-center">
        <div class=" col-md-auto"><h2>Detaily</h2></div>
    </div>
    <hr />

    <div>
        <h4>@Model.Name</h4>
        <hr/>
        <dl class="row">
            <div class="col-sm-6">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Model)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Model)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Type)
                </dd>
            </div>
            <div class="col-md-6">
                <dt class="col-sm">
                    @Html.DisplayNameFor(model => model.ImagePath)
                </dt>
                <dd class="col-sm">
                <img id="product-image mt-2" src="/UploadedImgs/ServisDevices/@Model.ImagePath" alt="Device Image" width="250" height="250">
            </div>
        </dl>
    </div>
    <div>
        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index" asp-route-id="@Model.SeriesId">Back to List</a>
    </div>
</div>
